<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.entrega_1_dev_mob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Entrega_1_DEV_MOB">
        <activity
            android:name=".part7"
            android:exported="false" />
        <activity
            android:name=".part6"
            android:exported="false" />
        <activity
            android:name=".part5"
            android:exported="false" />
        <activity
            android:name=".Tabbed"
            android:exported="false"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/Theme.Entrega_1_DEV_MOB.NoActionBar" />
        <activity
            android:name=".part4"
            android:exported="false" />
        <activity
            android:name=".part3"
            android:exported="false" />
        <activity
            android:name=".part2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".part1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>